{% extends "base.html" %}

{% block body %}
<section class="jumbotron">
    <div class="container">
        <img src="{{ url_for('static', filename='images/logo.png') }}" width="150px" height="150px"
             style="float:left;margin-right:20px;"/>
        <h1 class="jumbotron-heading">Covid-19 : les données pour la France au {{ max_date }}</h1>

        <p>Cette page permet de visualiser l'évolution des principaux chiffres de la maladie à coronavirus 2019 (COVID-19)
            pour la France : nombre de décès, nouveaux cas, patients hospitalisés, réanimations et guérisons. Les données sont
            mises à jour automatiquement. La source des données est "<a href="https://www.data.gouv.fr/fr/datasets/donnees-hospitalieres-relatives-a-lepidemie-de-covid-19/#_" target="_blank">Données hospitalières relatives à l'épidémie de COVID-19</a>" (Source "Santé publique France", data.gouv.fr).
            Le code source de l'application est disponible sur <a href="https://github.com/neveldo/covid19-viz" target="_blank">Github</a>.</p>

    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">

        <h2>{% if (label != 'France'): %}<a href="/">France</a> &gt; {% endif %}{{ label }}</h2>

        <div class="row">

            <div class="col-md-6">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <h3>Répartition des décès par département</h3>
                        <p><b>Cliquez sur un département pour voir le détail.</b></p>
                        <div id="death_map">
                            <div class="map"></div>
                            <div class="areaLegend"></div>
                            <div class="plotLegend"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <h3>Nombre de décès par jour ({{ label }})</h3>
                        <p>Total : <b>{{ counters['death']|int }}</b> au {{ max_date }}</p>
                        <div id="death_chart">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <h3>Nombre de nouveaux patients en réanimation par jour ({{ label }})</h3>
                        <p>Total : <b>{{ counters['resuscitation']|int }}</b> au {{ max_date }}</p>
                        <div id="resuscitation_chart">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <h3>Nombre de nouvelles hospitalisations par jour ({{ label }})</h3>
                        <p>Total : <b>{{ counters['hospitalized']|int }}</b> au {{ max_date }}</p>
                        <div id="hospitalized_chart">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <h3>Nombre de patients guéris par jour ({{ label }})</h3>
                        <p>Total : <b>{{ counters['healed']|int }}</b> au {{ max_date }}</p>
                        <div id="healed_chart">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(function() {
            // Init charts
            var plotlyConfig = {
                "locale": "fr",
                "modeBarButtonsToRemove": ["sendDataToCloud", "autoScale2d", "hoverClosestCartesian", "hoverCompareCartesian", "lasso2d", "select2d"],
                "displaylogo": false,
                "showTips": false
            };

            var layout = {};

            {% for chart_name in charts %}
            Plotly.plot("{{ chart_name }}_chart", {{charts[chart_name]|safe}}, layout, plotlyConfig);
            {% endfor %}

            // Init map
            var departments = {{ overall_departments_data|safe }};
            var quantiles = {{ overall_departments_quantiles|safe }};
            quantiles = Object.values(quantiles);
            var slices = [
                {"max": quantiles[0], "label": "Moins de " + quantiles[0], attrs: {fill: "#edf8e9"}}
            ];

            colors = ['#bae4b3', '#74c476', '#31a354', '#006d2c']
            for (var i = 0; i < quantiles.length; i++) {
                var slice = {
                    attrs: {
                        fill: colors[i]
                    }
                };

                slice.min = quantiles[i];

                if (i < quantiles.length -1) {
                    slice.max = quantiles[i + 1];
                    slice.label = "Entre " + slice.min + " et " + slice.max;
                } else {
                    slice.label = "Plus de " + slice.min;
                }
                slices.push(slice);
            }

            for (var id in departments) {
                departments[id]['value'] = departments[id]['death_per_inhabitants'];
                departments[id]['tooltip'] = {
                    "content": departments[id]['label'] + " : <b>" + departments[id]['death'] + "</b> décès (<b>" + departments[id]['death_per_inhabitants'] + "</b> pour 100 000 habitants)"
                };
                departments[id]['href'] = "/departement/" + departments[id]['insee'];
            }

            $("#death_map").mapael({
                "map": {
                    "name": "france_departments_domtom",
                    "defaultArea": {
                        "attrs": {
                            "fill": "#f4f4e8",
                            "stroke": "#ced8d0"
                        }
                    }
                },
                "legend": {
                    "area": {
                        "title": "Nombre de décès liés au Covid-19 pour 100 000 habitants",
                        "slices": slices
                    }
                },
                "areas": departments
            });
        });

    </script>
{% endblock %}