{% extends "base.html" %}

{% block body %}
<section class="jumbotron">
    <div class="container">
        <img src="{{ url_for('static', filename='images/logo.png') }}" width="150px" height="150px"
             style="float:left;margin-right:20px;"/>
        <h1 class="jumbotron-heading">Covid-19 : Visualisation des données hospitalières relatives à l'épidémie </h1>

        <p>Cette page permet de visualiser l'évolution des principaux chiffres de la maladie à coronavirus 2019 (COVID-19)
            pour la France et pour chaque département : nombre de décès, patients hospitalisés, réanimations et guérisons.
            Les données proviennent du jeu "<a href="https://www.data.gouv.fr/fr/datasets/donnees-hospitalieres-relatives-a-lepidemie-de-covid-19/#_" target="_blank">Données hospitalières relatives à l'épidémie de COVID-19</a>", fournies par <i>Santé publique France</i> et publiées sur <i>data.gouv.fr</i>.
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">

        <h2>{% if (label != 'France'): %}<a href="/">France</a> &gt; {% endif %}{{ label }} (Mise à jour : {{ last_update }})</h2>

        <div class="row">

            <div class="col-md-12" id="death_map">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <h3>Nombre de décès liés au Covid-19 pour 100 000 habitants</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="text-secondary">(Cliquez sur un département pour voir le détail)</p>
                                <div class="map"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="areaLegend"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <h3>Nombre de décès par jour ({{ label }})</h3>
                        <p>Total : <b>{{ counters['death']|int }}</b> au {{ max_date }}</p>
                        <div id="death_daily_chart">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <h3>Nombre de patients en réanimation par jour ({{ label }})</h3>
                        <p><b>{{ counters['resuscitation']|int }}</b> personnes en réanimation le {{ max_date }}</p>
                        <div id="resuscitation_chart">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <h3>Nombre de patients en cours d'hospitalisation par jour ({{ label }})</h3>
                        <p><b>{{ counters['hospitalized']|int }}</b> personnes en cours d'hospitalisation le {{ max_date }}</p>
                        <div id="hospitalized_chart">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <h3>Nombre de patients guéris par jour ({{ label }})</h3>
                        <p>Total : <b>{{ counters['healed']|int }}</b> au {{ max_date }}</p>
                        <div id="healed_daily_chart">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <h3>Nombre de décès cumulés par jour ({{ label }})</h3>
                        <div id="death_chart">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(function() {
            // Init charts
            var plotlyConfig = {
                "locale": "fr",
                "modeBarButtonsToRemove": ["sendDataToCloud", "autoScale2d", "hoverClosestCartesian", "hoverCompareCartesian", "lasso2d", "select2d"],
                "displaylogo": false,
                "showTips": false
            };

            var layout = {};

            {% for chart_name in charts %}
            Plotly.plot("{{ chart_name }}_chart", {{charts[chart_name]|safe}}, layout, plotlyConfig);
            {% endfor %}

            // Init map
            var departments = {{ overall_departments_data|safe }};
            var quantiles = {{ overall_departments_quantiles|safe }};
            quantiles = Object.values(quantiles);
            var slices = [
                {"max": quantiles[0], "label": "Moins de " + quantiles[0] + " décès pour 100 000 habitants", attrs: {fill: "#edf8e9"}}
            ];

            colors = ['#bae4b3', '#74c476', '#31a354', '#006d2c']
            for (var i = 0; i < quantiles.length; i++) {
                var slice = {
                    attrs: {
                        fill: colors[i]
                    }
                };

                slice.min = quantiles[i];

                if (i < quantiles.length -1) {
                    slice.max = quantiles[i + 1];
                    slice.label = "Entre " + slice.min + " et " + slice.max + " décès pour 100 000 habitants";
                } else {
                    slice.label = "Plus de " + slice.min + " décès pour 100 000 habitants";
                }
                slices.push(slice);
            }

            for (var id in departments) {
                departments[id]['value'] = departments[id]['death_per_inhabitants'];
                departments[id]['tooltip'] = {
                    "content": departments[id]['label'] + " : <b>" + departments[id]['death'] + "</b> décès (<b>" + departments[id]['death_per_inhabitants'] + "</b> pour 100 000 habitants)"
                };
                departments[id]['href'] = "/departement/" + departments[id]['insee'];

console.log(departments[id]);
                if (departments[id]['insee'] === '{{ department }}') {
                    departments[id]['href'] = "/";
                    delete departments[id]['value'];
                    departments[id]['attrs'] = {
                        "fill": "#F38A03",
                    };
                }
            }

            $("#death_map").mapael({
                "map": {
                    "name": "france_departments_domtom",
                    zoom: {
                        enabled: true,
                        maxLevel: 10
                    },
                    "defaultArea": {
                        "attrs": {
                            "fill": "#f4f4e8",
                            "stroke": "#ced8d0"
                        }
                    }
                },
                "legend": {
                    "area": {
                        "slices": slices
                    }
                },
                "areas": departments
            });
        });

    </script>
{% endblock %}