
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Covid-19 : les données pour la France">
    <meta name="author" content="neveldo">

    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" />

    <title>Covid-19 Data</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
  </head>

  <body>

    <header>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom box-shadow bg-dark text-white">
          <h4 class="my-0 mr-md-auto font-weight-normal">Covid-19 Dataviz</h4>
          <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-white" href="https://twitter.com/VincentBroute">Twitter</a>
            <a class="p-2 text-white" href="https://github.com/neveldo/covid19-viz">Github</a>
          </nav>
        </div>
    </header>

    <main role="main">

      {% block body %}
      {% endblock %}

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Remonter en haut</a>
        </p>
        <p>&copy; <script>document.write(new Date().getFullYear())</script> Vincent Brouté</p>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mapael/2.2.0/js/jquery.mapael.min.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/gh/neveldo/mapael-maps@master/france/france_departments_domtom.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-locale-fr-latest.js"></script>
    {% block js %}
    {% endblock %}
  </body>
</html>
